<%- include('partials/header')-%>
<div class="container">
    <%- include('partials/navbar')-%>
    <h1>Welcome</h1>
    <h3><%= session.name%> <%= session.role%> <%= session.email%></h3>
</div>
<%- include('partials/footer')-%>
